*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(Imagenes/CGP2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo{
    color: rgba(255, 238, 0, 0.706);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration: underline;
}
.subtitulo{
    color: rgba(255, 255, 255, 0.706);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
